/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/storage/testing/database.sqlite
/output
/public/js/app.js
storage/*
public/images/vendor/jquery.fancytree/dist/skin-win8/icons-rtl.gif
public/images/vendor/jquery.fancytree/dist/skin-win8/icons.gif
public/images/vendor/jquery.fancytree/dist/skin-win8/vline-rtl.gif
/.vscode
composer.lock