name: Sync OAS to ReadMe
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - run: npm install -g speccy
      - run: speccy resolve openapi/openapi.yaml -o openapi/openapi-full.yaml
      - run: npm install rdme -g
      - run: rdme swagger openapi/openapi-full.yaml --version=v1.0 --key=${{ secrets.README_OAS_KEY }} --id=5f3af1461c57aa9fb9721010
#       - uses: readmeio/github-readme-sync@2.0.0
#         with:
#           readme-oas-key: ${{ secrets.README_OAS_KEY }}
#           oas-file-path: openapi/openapi-full.yaml
#           api-version: 'v1.0.0'
